:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  /* MOBILE STYLES (Default) */
  /* Equivalent to text-sm and px-4 py-2 */
  font-size: 0.875rem; 
  padding: 0.5em 1em; 
}

/* DESKTOP STYLES (Screens larger than 640px) */
@media (min-width: 1080px) {
  button {
    /* Equivalent to text-base and px-8 py-3 */
    font-size: 1em;
    padding: 0.6em 1.2em;
  }
}

button:hover {
  border-color: #ff6464;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}